<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>458958874759-h7s2dr4k76p7pqikb3796u7n6le7rf73.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.458958874759-h7s2dr4k76p7pqikb3796u7n6le7rf73</string>
	<key>API_KEY</key>
	<string>AIzaSyAAf21R3Rslag5mLpXwLuR0jWmJE3RtnAk</string>
	<key>GCM_SENDER_ID</key>
	<string>458958874759</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Israel-Carvajal.Starter-Project</string>
	<key>PROJECT_ID</key>
	<string>starter-project-fbdf4</string>
	<key>STORAGE_BUCKET</key>
	<string>starter-project-fbdf4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:458958874759:ios:ae08d8bac025745b</string>
	<key>DATABASE_URL</key>
	<string>https://starter-project-fbdf4.firebaseio.com</string>
</dict>
</plist>